.wrapper
  = render "top/others/header"
  = render "top/introduction/introduction-upper"
  = render "top/feature/feature-upper"
<<<<<<< HEAD
  = render "top/introduction/introduction-middle"
  = render "top/feature/feature-lower"
=======
  = render "top/introduction/introduction-middle"
>>>>>>> parent of 3c7294a... add_feature-lower_to_index.html.haml
